@import url('https://fonts.googleapis.com/css2?family=Chivo+Mono:wght@100;200;300;400;500;600;700;800;900&family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');

body {
    margin: 0;
    font-family: "Montserrat", monospace;
}

.py-content, .html-content, .cpp-content {
    position: relative;
    width: 100%;
    height: 100vh;
}

#back {
    position: relative;
    left: 2%;
    top: 20px;
    color: #000;
    text-decoration: none;
    border: 1.6px #000 solid;
    padding: 5px 20px;
    transition: all 1s;
    z-index: 1;

    &::before {
        position: absolute;
        content: "";
        top: 0;
        left: 0;
        width: 0;
        height: 100%;
        background-color: #000;
        transition: all 1s;
        z-index: -1;
    }

    &:hover {
        color: #fff;
        
        &::before {
            width: 100%;
        }
    }

}

.title {
    position: absolute;
    margin-top: 1%;
    width: 100%;
    font-size: 30px;
    text-align: center;
}

.test {

    & fieldset {
        margin-top: 7%;
        width: 70%;
        margin-left: 15%;
        border-color: #000;

        & legend {
            color:#000;
            font-family: "Montserrat", monospace;
            font-size: 18px;
        }

        & div {
            margin-top: 20px;

            &:nth-child(5) {
                margin-bottom: 15px;
            }

        }

    }

    & #send {
        font-family: "Montserrat", monospace;
        font-size: 16px;
        border-radius: 0;
        border: 2px #000 solid;
        background-color: #fff;
        margin-top: 50px;
        margin-bottom: 40px;
        width: 10%;
        height: 50px;
        margin-left: 75%;
        transition: 1s;

        &:hover {
            background-color: #000;
            color: #fff;
        }

    }

}